@use '../../styles/index.scss' as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.header__dark {
    background-color: $primary-bg-dark;
    color: $primary-text-dark;
}

.header__light {
    background-color: $primary-bg-light;
    color: $primary-text-light;
}

.header__logo {
    a {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    div {
        display: flex;
        flex-direction: column;
        h2 {
            font-size: 20px;
            font-weight: 700;
            text-transform: uppercase;
            color: #000;
            margin-bottom: 2px;
        }

        p {
            font-size: 14px;
            color: #9D9D9D;
        }
    }
    
}

.header__nav {
    
    .header__link {
        position: relative;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px 20px;
        margin-right: 20px;
        border-radius: 10px;
        font-weight: 500;
        color: #000;
        cursor: pointer;
    }
}
